## Loading the dataset

In [1]:
import pandas as pd
import numpy as np

In [26]:
## Loading the dataset
data = pd.read_csv("D:/Web Scraping using Python/productsfull.csv")

In [27]:
data.head(5)

,fulldescription,productname,fit,colorname
0,"[""The world's #1-selling hunting knife in its ...",Buck 110 Folding Hunter's Knife,Not Available,Not Available
1,"[""We've combined the freedom of a sandal with ...",Kids' Explorer Sandals,Not Available,"['Bright Sapphire', 'Cactus', 'Night', 'Teal S..."
2,"[""This is the ultimate sportsman's day pack. D...","Maine Warden's Day Pack, Camo",Not Available,['Mossy Oak Country']
3,['These fur-ocious kids’ animal slippers will ...,Toddlers' Animal Paws Slippers,Not Available,['Owl']
4,['Our Baby Bogs set the standard in toddlers’ ...,"Toddlers' Baby Bogs Boots, Classic Dino",Not Available,['Dark Gray Multi']

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24731 entries, 0 to 24730
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fulldescription  24731 non-null  object
 1   productname      24714 non-null  object
 2   fit              24731 non-null  object
 3   colorname        24731 non-null  object
dtypes: object(4)
memory usage: 773.0+ KB

In [ ]:
### Cleaning
## Null Values
data.isnull().sum()

fulldescription     0
productname        17
fit                 0
colorname           0
dtype: int64

In [33]:
data.dropna(inplace = True)

In [34]:
data.isnull().sum()

fulldescription    0
productname        0
fit                0
colorname          0
dtype: int64

In [35]:
## Duplicates
print(data.duplicated().sum())

19592

In [36]:
data.drop_duplicates(keep = 'last', inplace = True)

In [37]:
print(data.duplicated().sum())

0

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5122 entries, 307 to 24730
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fulldescription  5122 non-null   object
 1   productname      5122 non-null   object
 2   fit              5122 non-null   object
 3   colorname        5122 non-null   object
dtypes: object(4)
memory usage: 200.1+ KB

In [39]:
data

,fulldescription,productname,fit,colorname
307,['The Black Hole archery target is easy to set...,Black Hole Archery Target,Not Available,['Black']
792,['This compact home safe is perfect for the pe...,Stack-On Quick Access Safe With Electric Lock,Not Available,['Black']
881,"['This super-tough, compact safe fits into mos...",Stack-On Electric Lock Drawer Safe,Not Available,['Black']
892,"[""Protect your handguns and rifles from moistu...",Peet SafeKeeping Dryer,Not Available,['Black']
988,['This portable lock box is ideal for securing...,Stack-On Portable Case With Electronic Lock,Not Available,['Black']
...,...,...,...,...
24726,"[""We made this lightweight everyday blanket fr...",Polar Fleece Blanket,Not Available,"['Boulder', 'Cream', 'Desert Sage', 'Mariner B..."
24727,['Beautiful flowers bloom across the inside of...,Border Floral Quilt Collection,Not Available,['Multi']
24728,['Our amazingly plush blanket teams up with th...,Heated Blanket,Not Available,['Cream']
24729,['Crafted from cotton twill for a beautiful dr...,Maine-Made Cotton Twill Blanket,Not Available,"['Bluegrass', 'Heather Gray', 'Mariner Blue', ..."
24730,['This L.L.Bean exclusive Maine blanket is cra...,"Maine-Made Cotton Blanket, Stripe",Not Available,"['Mariner Blue', 'Sea Salt', 'Gray Heather/Cre..."